.selected-files-list {
  .item {
    input[type=checkbox] {
      position: absolute;
      left: 0;
      top: 18px;
      z-index: 5;
      pointer-events: none;
      box-shadow: 0 0 0 3px darken(#474d57, 5%);
    }

    &:after {
      @include fa-icon;
      content: $fa-var-play;
      position: absolute;
      right: 2px;
      top: 12px;
      color: #fff;
      font-size: 7px;
      opacity: 0;
    }

    &:hover {
      &:after {
        opacity: 1;
        right: 10px;
        @include transition(.2s $swift);
      }
      input[type=checkbox] {
        @include transition(.2s $swift);
        box-shadow: 0 0 0 3px #8fce35;
      }
    }
  }

  .footer {
    a {
      width: 130px;
      padding: 0;
      margin: 5px !important;
    }

    .selected-file-delete {
      width: 34px;
      &:before {
        margin: 0 !important;
        content: $fa-var-trash-o;
      }
    }

    .selected-file-checkout {
      width: 226px;
      &:before {
        content: $fa-var-times-circle;
      }
    }

  }
}
