.auth {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -(100px - 22px) 0 0 -150px;
  padding-top: 10px;

  h2 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  input[type=text],
  input[type=password] {
    width: 214px;
    margin: 5px 0;
  }

  input[type=submit] {
    margin: 5px auto 0 auto;
    display: block;
    width: 100px;
  }

  a {
    display: block;
    width: 100px;
    margin: 0 auto;
  }
}
