.files {
  width: $width;
  margin: 15px auto;
  padding: 0;
  @include clear;

  .targets,
  .file-list {
    float: left;
    min-height: 400px;
    @include box-sizing(border-box);
    padding: 20px;
  }
}