.upload-files-button {
  .upload-files-icon:after {
    background: url(/img/icons/nav.png) 0 (-14px*11) no-repeat;
  }
}


.upload-file-list {
  width: 410px;
  left: 0;

  .upload-file-list-container {
    max-height: 320px;
    overflow: auto;
    @include scrollbar;
  }

  .upload-file-item {
    @include box-sizing(border-box);
    padding: 0 10px;
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
    position: relative;
    margin: 0 0 5px 0;

    .upload-file-success,
    .upload-file-error {
      border-radius: 2px;
      position: absolute;
      z-index: 20;
      background: rgba(#e74c3c, .8);
      color: #fff;
      text-align: center;
      height: 32px;
      width: 100%;
      left: 0;
      top: 0;
      font-size: 10px;
      font-weight: 300;
    }

    .upload-file-success {
      background: rgba(#b1e73c, .8);
      text-align: center;
      &:before {
        @include fa-icon;
        content: $fa-var-check-circle;
        color: #fff;
        font-size: 24px;
        position: relative;
        top: 4px;
      }
    }

    &:after {
      cursor: pointer;
      position: absolute;
      content: '×';
      text-shadow: 0 0 2px rgba(#000, .3);
      text-align: center;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 21;
      background: rgba(#595e67, .4);
      font-size: 24px;
      opacity: 0;
      @include transition(.3s $swift);
      border-radius: 2px;
    }

    .upload-file-preview {
      height: 32px;
      margin-right: 10px;
      float: left;
      line-height: 32px;

      img {
        margin: 8px 0 0 0;
        border-radius: 2px;
        display: block;
        height: 16px;
        width: 21px;
      }
    }

    .upload-file-title {
      font-weight: 300;
      float: left;
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 8px;
      position: relative;

      &:before {
        opacity: 1;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 32px;
        @include linear-gradient(to right, rgba(#474d57, 0), rgba(#474d57, 1) 80%);
      }
    }

    .upload-file-preloader {
      width: 220px;
      height: inherit;
      float: left;
      line-height: 20px;

      .upload-file-state {
        color: #808690;
        font-size: 10px;
        display: block;
        width: 220px;
        height: 20px;
        font-weight: 300;

        &.upload-file-run {
          color: #fff;
        }
      }

      .upload-file-progress {
        background: rgba(#000, .4);
        border-radius: 2px;
        width: 220px;
        height: 4px;
        position: relative;

        .upload-file-read-progress,
        .upload-file-upload-progress {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          background: #e74c3c;
          border-radius: 2px;
          width: 220px;
          height: 4px;
          @include transition(width .3s $swift);
        }

        .upload-file-read-progress {
          background: #ccc;
          @include transition(width .2s $swift);
          z-index: 1;
        }
      }
    }

    &:hover {
      @include transition(.2s $swift);
      background: #595e67;
      .upload-file-title:before {
        @include transition(.2s $swift);
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
