.page-docs {
  min-width: 660px;
  min-height: 100%;
  padding: 42px 0;
  height: auto;
  background: #f3f3f4;

  header {
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    width: 100%;
    height: 42px;
    background: #474d57;
    background: rgba(#353b45, .9);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    @include box-sizing(border-box);

    .header-push {
      width: 250px;
      float: left;
      height: inherit;
    }

    .main-nav {
      float: left;
      line-height: 26px;
      height: 26px;
      position: relative;
      margin: 9px 1px 0 20px;

      a {
        display: block;
        float: left;
        min-width: 120px;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        color: #808690;
        font-size: 13px;
        margin-right: 10px;
        border-radius: 2px;
        height: inherit;
        @include gpu;

        .nav-icon {
          display: block;
          float: left;
          width: 14px;
          height: 14px;
          position: relative;
          margin: 6px 6px 0 -10px;
          opacity: .2;

          &:after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            position: relative;
            z-index: 2;
          }
        }

        .nav-available {
          color: #fff;
          background: #e74c3c;
          border-radius: 2px;
          display: block;
          min-width: 16px;
          height: 15px;
          line-height: 14px;
          font-size: 10px;
          padding: 0 4px;
          text-align: center;
          float: right;
          margin: 6px -10px 5px 8px;
        }

        &:hover {
          .nav-icon{
            @include transition(.2s $swift);
            opacity: 1;
          }
        }

        &.enabled,
        &:hover {
          color: #fff;
          background: lighten(#474d57, 5%);
          @include transition(.2s $swift);
          .nav-icon {
            color: #fff;
            opacity: 1;
          }
        }

        &.enabled {
          background: #e74c3c;
          .nav-available {
            background: desaturate(darken(#e74c3c, 20%), 15%);
          }
        }
      }

      @import "parts/header/uploads";
      @import "parts/header/selected";
    }
  }

  @import "parts/footer";

  .docs-nav {
    width: 250px !important;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    height: 100%;
    padding-right: 0;
    background: #474d57;
    overflow: auto;

    @import "parts/aside";
  }

  .content {
    width: 100%;
    td {
      vertical-align: top;
    }
  }

  .content-push {
    position: relative;
    width: 250px;
    height: 100%;
    min-height: 500px;
    @include box-sizing(content-box);
    @include transition(width .3s $swift);

    @import "parts/panel";

    &.content-push-show {
      width: 550px;
    }

    @import "parts/panels/selected";
    @import "parts/panels/uploads";
  }

  .docs-container {
    padding: 15px 30px;
    text-align: center;

    @import "parts/windows";

    @import "parts/search";
    @import "parts/document";
  }
}
