@include keyframes(preloader) {
  0% {
    @include scale(.8);
    opacity: .8;
  }

  50%, 100% {
    @include scale(1.8);
    opacity: 0;
  }
}



.page-preloader {
  z-index: 99;
  background: #f3f3f4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 1;
  @include transition(.5s ease);

  &.preloader-hide {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    @include scale(.8);
  }

  .preloader-image {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;

    .preloader-ring,
    .preloader-icon {
      top: 18px;
      left: 18px;
      width: 64px;
      height: 64px;
      position: absolute;
      z-index: 1;
      border-radius: 32px;
    }

    .preloader-icon {
      z-index: 2;
      background: url(/img/logo.svg) center center no-repeat;
      background-size: 64px 64px;
    }

    .preloader-ring {
      top: 19px;
      left: 19px;
      width: 62px;
      height: 62px;
      background: none;
      box-shadow:
        inset 0 0 8px 6px #e74c3c,
        0 0 4px #e74c3c;
      position: absolute;
      opacity: 1;
      @include transform(scale(1));
      @each $i in 1, 2, 3 {
        &.preloader-ring-#{$i} {
          @include animation(preloader, 1.5s, ease, infinite, #{$i/5}s);
        }
      }
    }

    span {
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: -5px;
      font-size: 12px;
      text-shadow:
        0 1px 0 rgba(#fff, .7),
        0 2px 30px #000;
      opacity: .9;
    }
  }
}
