@mixin button($color: #e74c3c, $font: #fff) {
  @include box-sizing(border-box);
  @include font(content);
  @include transition(
          box-shadow .1s ease,
          background .1s ease
  );
  @include user-select(none);
  display: block;
  height: $size-height-ui;
  line-height: $size-height-ui;
  outline: none;
  box-shadow: 0 0 0 1px rgba(#000, 0);
  position: relative;
  min-width: 0 !important;
  text-decoration: none !important;
  cursor: pointer;
  font-size: 12px;
  padding: 0 20px;
  vertical-align: middle;
  border-radius: 2px;
  background: $color no-repeat;
  color: $font !important;
  text-align: center;
  text-transform: uppercase;
  border: none;

  &.fa:before {
    top: 10px;
    position: relative;
  }

  &:hover {
    background-color: lighten($color, 5%) !important;
    text-decoration: none;
    box-shadow: 0 0 0 1px rgba(#000, .4);
    outline: none !important;
  }

  &.active,
  &:active {
    outline: none !important;
    background-color: darken($color, 15%) !important;
    box-shadow: 0 0 0 1px rgba(#000, .2);
  }
}

.button,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  @include button(#e74c3c);

  &.disabled {
    box-shadow: none;
    background-color: #d5d5d5 !important;
    cursor: default;
    color: #f6f6f6 !important;
  }

  &.button-red {
    @include button(#b54040);
  }

  &.button-white {
    @include button(#fff, #676a6c);
    box-shadow: inset 0 0 0 1px #e7eaec;

    &:hover {
      box-shadow: inset 0 0 0 1px darken(#e7eaec, 10%);
    }
  }
}


