.panel {
  background: darken(#474d57, 5%);
  display: block;
  position: fixed;
  z-index: 1;
  left: 250px;
  width: 300px;
  top: 0;
  padding: 60px 10px 10px 10px;
  height: 100%;
  color: #fff;
  box-shadow: inset 0 42px 0 #f3f3f4;
  overflow: auto;
  @include scrollbar;
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 2px darken(#474d57, 5%);
  }

  &:before {
    content: '';
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 3px;
    background: #e74c3c;
    left: 0;
    top: 42px;
  }


  .item {
    @include box-sizing(border-box);
    @include user-select(none);
    padding: 0 10px;
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
    position: relative;
    margin: 0 0 5px 0;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #808690;

    .item-success,
    .item-error {
      border-radius: 2px;
      position: absolute;
      z-index: 20;
      background: rgba(#e74c3c, .8);
      color: #fff;
      text-align: center;
      height: 32px;
      width: 100%;
      left: 0;
      top: 0;
      font-size: 10px;
      font-weight: 300;
    }

    .item-success {
      background: rgba(#b1e73c, .8);
      text-align: center;
      &:before {
        @include fa-icon;
        content: $fa-var-check-circle;
        color: #fff;
        font-size: 24px;
        position: relative;
        top: 4px;
      }
    }

    .item-icon {
      float: left;
      position: relative;
      left: -10px;
      margin: 1px;
      z-index: 3;
      border-radius: 2px;
      overflow: hidden;
      width: 40px;
      height: 30px;
      background: center center no-repeat;
      background-size: 16px auto;

      img {
        border-radius: 2px;
        width: 40px;
        position: relative;
        z-index: 2;
        display: block;
        height: 30px;
      }

      &.loading {
        &:before {
          content: '';
          position: absolute;
          z-index: 1;
          left: 50%;
          top: 50%;
          width: 20px;
          height: 20px;
          margin: -10px 0 0 -10px;
          border-radius: 50%;
          background: #f3f3f4;
        }
        img {
          width: 16px;
          height: 16px;
          position: absolute;
          z-index: 2;
          left: 50%;
          top: 50%;
          margin: -8px 0 0 -8px;
        }
      }
    }

    .item-title {
      float: left;
      display: block;
      height: 32px;
      line-height: 32px;
      position: relative;
      z-index: 3;
      font-size: 11px;
      width: 210px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .highlight {
        background: #e74c3c;
        color: #fff;
        display: inline-block;
        border-radius: 2px;
      }
    }

    &:hover {
      color: #fff;
      background: lighten(#474d57, 10%);
      @include transition(.2s $swift);
    }
  }

  h2,
  h3 {
    display: block;
    text-align: center;
    font-weight: 300;
    padding: 10px 0 25px 0;
    font-size: 22px;
    margin: 0;
    color: #808690;
  }

  .footer {
    left: 250px;
    width: 300px !important;
    background: darken(#474d57, 5%);
    @include clear;

    a {
      width: 135px;
      display: block;
      float: left;
    }

    &:before {
      @include linear-gradient(
        to bottom,
        rgba(darken(#474d57, 5%), 0),
        rgba(darken(#474d57, 5%), 1)
      );
    }
  }
}
